services:
  kimai-ml:
    image: ghcr.io/localzet/kimai-ml-rust:latest
    container_name: kimai-ml
    restart: always
    environment:
      - RUST_LOG=info
      - RUST_BACKTRACE=1
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8000/health || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 5
    networks:
      - external

networks:
  external:
    name: external
    external: true